<html>
    <header>
        <title>BugTracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script>
            document.onreadystatechange = () => {
                if (document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent
                    document.getElementById('userDate').value = new Date()
                }
            }
        </script>
    </header>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">BugTracker</a>
        </nav>
        <div class="container">
            <h1>Ferramenta de relato de bugs</h1>
            <p>Preencha todos os dados a seguir</p>
            <form method="post">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input class="form-control" type="text" id="name" name="name" />
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="email" />
                </div>

                <div class="form-group">
                    <label for="issueType">Classificação:</label>
                    <select class="form-control" id="issueType" name="issueType">
                        <option value="">Selecione</option>
                        <option value="CRITICAL">Crítico</option>
                        <option value="BUG">Falha</option>
                        <option value="ENHANCEMENT">Melhoria</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="howToReproduce">Como reproduzir o erro?</label>
                    <input class="form-control" type="text" id="howToReproduce" name="howToReproduce" />
                </div>

                <div class="form-group">
                    <label for="expetedOuput">A saída esperada:</label>
                    <textarea class="form-control" id="expetedOuput" name="expetedOuput"></textarea>
                </div>

                <div class="form-group">
                    <label for="receivedOuput">A saída recebida:</label>
                    <textarea class="form-control" id="receivedOuput" name="receivedOuput"></textarea>
                </div>

                <input type="hidden" id="userAgent" name="userAgent" />
                <input type="hidden" id="userDate" name="userDate" />

                <button class="btn btn-primary">Enviar solicitação</button>
            </form>
        </div>
    </body>
</html>