<html>
    <header>
        <title>BugTracker</title>
    </header>
    <body>
        <h1>Ferramentade relato de bugs</h1>
        <p>Preencha todos os dados a seguir</p>
        <form method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" />

            <label for="issueType">Classificação:</label>
            <input type="text" id="issueType" name="issueType" />

            <label for="howToReproduce">Como reproduzir o erro?</label>
            <input type="text" id="howToReproduce" name="howToReproduce" />

            <label for="expetedOuput">A saída esperada:</label>
            <input type="text" id="expetedOuput" name="expetedOuput" />

            <label for="receivedOuput">A saída recebida:</label>
            <input type="text" id="receivedOuput" name="receivedOuput" />

            <button>Enviar solicitação</button>
        </form>
    </body>
</html>